{% extends "website_template.html" %}

{% block title %}
    About Us
{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'about.css' %}">
{% endblock %}

{% block content %}


<div class="contents">
    <b><h1> About Our App: Uniting book lovers, One page at a time </h1></b> <br>

    Welcome to our innovative app dedicated to the love of books and the joy of sharing knowledge! We understand the importance of seamless book lending, borrowing, and selling experiences, and that's exactly what we offer.
    <br>
    <br>
    <h2><b>Our Story</b></h2>
    <br>
    Our journey began with a passion for literature, coding and a desire to make reading more accessible to everyone. We recognized that traditional methods of book lending and borrowing often came with challenges, so we set out to create a solution that would simplify the process.
    <br>
    <br>
    <h2><b>What We Offer</b></h2>
    Our app is designed to connect book enthusiasts, making it easier than ever to share the books you love. Here's what you can expect:
    <ol><li>
    Effortless Book Lending: Easily lend your books to friends, family, and fellow bookworms with just a few taps. No more lost books or forgotten borrowers.
    </li>
    <li>
    Seamless Borrowing: Browse a vast collection of books available for borrowing. Find your next literary adventure without the hassle of searching through labyrinthine libraries or bookstores.
    </li>
    <li>
    Smart Selling: Have books you're ready to part with? List them for sale within the app and connect with potential buyers in your area.
    </li>
    <li>
    User-Friendly Interface: Our app features an intuitive interface that's simple to navigate, ensuring a hassle-free experience for all users.
    </li>
    </ol>

    <h2><b>Why Choose Us</b></h2>
    <ul>
        <li>
        We prioritize your reading experience and aim to make it as enjoyable as possible.
        </li>
        <li>
        Our secure and reliable platform ensures the safety of your personal information and transactions.
        </li>
        <li>
    We're committed to fostering a community of readers who share their passion for reading.
    </li>
    </ul>

    Join us in building a vibrant community of book lovers. Whether you're looking to lend, borrow, or sell books, we're here to make the process seamless and enjoyable. Discover a world of stories waiting to be explored within our app.
    <br><br>
    Thank you for choosing us to be part of your reading journey. Happy reading!
    <br><br>

    <h1>Meet the Team !</h1>
    <br>

</div>
        <div class = 'team-section'>
            <div class="team-member">
                <div class="member-img">
                    <img class="card-img" src="https://cdn.discordapp.com/attachments/869781249051476018/1149926520257781770/image.png">
                </div>
                <div class="member-details">
                    <h3>Aekas Singh Gulati</h3>
                    <p> <!-- Write self description -->
                        Co-Founder
                    </p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-img">
                    <img class="card-img" src="https://cdn.discordapp.com/attachments/908302457766027265/1149942776415387668/WhatsApp_Image_2023-09-09_at_13.36.08.jpg">
                </div>
                <div class="member-details">
                    <h3>Ninad Dixit</h3>
                    <p> <!-- Write self description -->
                        Co-Founder
                    </p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-img">
                    <img class="card-img" src="https://cdn.discordapp.com/attachments/869781249051476018/1149926156905222164/image.png">
                </div>
                <div class="member-details">
                    <h3>Praneeth Suresh</h3>
                    <p> <!-- Write self description -->
                        Co-Founder
                    </p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-img">
                    <img class="card-img" src="https://cdn.discordapp.com/attachments/869781249051476018/1149930523322495026/image.png">
                </div>
                <div class="member-details">
                    <h3>Pratyush Bansal</h3>
                    <p> <!-- Write self description -->
                        Co-Founder
                    </p>
                </div>
            </div>
            <div class="team-member">
                <div class="member-img">
                    <img class="card-img" src="https://cdn.discordapp.com/attachments/869781249051476018/1149927803572199444/WhatsApp_Image_2023-09-08_at_23.33.50.jpg">
                </div>
                <div class="member-details">
                    <h3>Rahul Rajkumar</h3>
                    <p> <!-- Write self description -->
                        Co-Founder
                    </p>
                </div>
            </div>
        </div>



{% endblock %}