{% extends "website_template.html" %}
{% load static %}

{% block title %}
    Add Listing
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'addListingForm.css' %}">
{% endblock %}

{% block content %}
    <div class="center" style="align-items: center;">
        <h1> Create Listing </h1>
        <form method="post" action="#" class="signupform">
            {% csrf_token %}

            <div class="txt_field">
                <input type="text" id="isbn" name="isbn" required>
                <span></span>
                <label>ISBN Number</label>
            </div>
 
            <select class="dropdown" id="listingType" name="listingType">
                <option value="">Listing type</option>
                <option id="sale" value="Sale">For Sale</option>
                <option id="borrow" value="Borrowing">For Lending</option>
            </select>

            <div class="txt_field" id="priceLabel">
                <input type="number" name="price" required>
                <span></span>
                <label>Price</label>
            </div>
            <select class="dropdown" id="condition" name="condition">
                <option value="">Condition</option>
                <option value="Brand_New">Brand New</option>
                <option value="Like_new">Used - Like New</option>
                <option value="Slight_Wear">Used - Slight Wear</option>
                <option value="Worn_Out">Used - Worn Out</option>
            </select>
                
            <input type="submit" value="Add listing" class="addlisting">
        </form>
    </div>
    <script>
        let saleBtn = document.querySelector('#listingType')
        let priceBox = document.querySelector('#price');
        let priceLabel = document.querySelector('#priceLabel');

        if (saleBtn.value == "Sale"){
            //priceLabel.removeAttribute("hidden");
            priceLabel.setAttribute("hidden");
        }
        
    </script>
{% endblock %}