{% extends "website_template.html" %}
{% load static %}

{% block title %}
Reset Password
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}


{% block content %}
    <div class="center">
        <h1> Reset Password </h1>
        <form method="POST" action="#" class="signupform">
            {% csrf_token %}
        
            <div class="txt_field">
                <input type="password" id="password1" name="password1" required>
                <span></span>
                <label>New Password</label>
            </div>
            <div class="txt_field">
                <input type="password" id="password2" name="password2" required>
                <span></span>
                <label>Confirm Password</label>
            </div>

            <input type="submit" value="Reset">
        </form>
    </div>
{% endblock %}