{% load static %}
<html>
    <head>
        <title>
            {% block title %} {% endblock %}
        </title>
            <link rel="stylesheet" href="{% static 'website_design.css' %}">
            <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" >
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
            <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
            
        {% block head %}{% endblock %}
    </head>
    <body style="margin-left: 50px;">
        <header>
            <a href="/" class="logo">Reprose</a>
            <div class="group">
                <ul class="navigation">
                    <li ><a href="/">Home</a></li>
                    <li><a href="/listing">Browse</a></li>
                    <li><a href="/about">About</a></li>
                    <li {{context.ishidden }}><a href="/login">Login</a></li>
                    <li {{context.ishidden}}><a href="/signup">Sign Up</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li {{context.isnothidden}}><a href="/profile">Profile</a></li>
                    <li {{context.isnothidden}}><a href="/signout">Signout</a></li>
                    <li {{context.isnothidden}} id="cart-btn"><a href="/cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
                <div class="search">
                    <span class="icon">
                        <ion-icon name="search-outline" class="searchBtn"></ion-icon>
                        <ion-icon name="close-outline" class="closeBtn"></ion-icon>
                    </span>
                </div>
            </div>
            <div class="searchBox">
                <form method="post" action="/listing/">
                    {% csrf_token %}
                    <input type="text" name="query" placeholder="Search...">
                </form>
            </div>
        </header>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <script>
            let searchBtn = document.querySelector('.searchBtn');
            let closeBtn = document.querySelector('.closeBtn');
            let searchBox = document.querySelector('.searchBox');

            searchBtn.onclick = function(){
                searchBox.classList.add('active');
                closeBtn.classList.add('active');
                searchBtn.classList.add('active');
            }
            closeBtn.onclick = function(){
                searchBox.classList.remove('active');
                closeBtn.classList.remove('active');
                searchBtn.classList.remove('active');
            }

        </script>
        
        <div style="height: 110px;">

        </div>

        {% block content %}{% endblock %}

        <!-- <div style="height: 40;"></div> -->
    </body>

        
    
</html>