body {
    color: #073535b7;
    padding-right: 5%;
}

.contents h1 {
    font-size: 50px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

.contents h2 {
    font-size: 40px;
    font-weight: 600;
    background-image: linear-gradient(to left, #1dada6, #a0dad8);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

.contents ul {
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contents ol {
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}